
.content_card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
}

.content_card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.content_card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

