.card {
  border: 1px solid #eee;
  background-color: #fafafa;
  margin: 0 12px 18px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  line-height: 24px;
}

.card.card-small {
  height: 58px;
  width: 188px;
}

.card-small__content {
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
}
