.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #00aeee;
  color: white;
  font-style: italic;
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

.header img:not(.highlight-card) {
  cursor: pointer;
}

.header img {
  margin: 0 16px;
}

