.container__card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin: 0 24px 32px;
  padding: 16px;
  width: 330px;
  height: 100px;
  background: rgba(0, 174, 238, 0.38);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

.container__card_highlight {
  background: rgba(248, 202, 0, 0.87);
  box-shadow: 0 10px 50px rgba(0,0,0,0.5);
}

.container__card__content {
  display: block;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 2px;
}

.container__card__header {
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 120%;
  letter-spacing: 3px;
}
