.footer {
  justify-content: center;
  display: flex;
  align-items: center;
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 0 10px 50px rgba(0,0,0,0.2);
}
